In [ ]:
import sys
sys.path.append("C:\Users\shubh\Projects\PokeCounter")

In [53]:
import json
import pandas as pd

In [112]:
data = pd.read_csv(r"C:\Users\shubh\Projects\PokeCounter\data.csv")
data.head()

,power,PKMN,Nor,Fir,Wat,Ele,Gra,Ice,Fig,Poi,Gro,Fly,Psy,Bug,Roc,Gho,Dra,Dar,Ste,Fai
0,Normal —,82,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1,Normal Fire,2,NaN,0.5,2.0,NaN,0.5,0.5,2.0,NaN,2.0,NaN,NaN,0.5,2.0,0.0,NaN,NaN,0.5,0.5
2,Normal Water,1,NaN,0.5,0.5,2.0,2.0,0.5,2.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.5,NaN
3,Normal Electric,2,NaN,NaN,NaN,0.5,NaN,NaN,2.0,NaN,2.0,0.5,NaN,NaN,NaN,0.0,NaN,NaN,0.5,NaN
4,Normal Grass,5,NaN,2.0,0.5,0.5,0.5,2.0,2.0,2.0,0.5,2.0,NaN,2.0,NaN,0.0,NaN,NaN,NaN,NaN

In [113]:
data = data.fillna(1)
data.head()

,power,PKMN,Nor,Fir,Wat,Ele,Gra,Ice,Fig,Poi,Gro,Fly,Psy,Bug,Roc,Gho,Dra,Dar,Ste,Fai
0,Normal —,82,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
1,Normal Fire,2,1.0,0.5,2.0,1.0,0.5,0.5,2.0,1.0,2.0,1.0,1.0,0.5,2.0,0.0,1.0,1.0,0.5,0.5
2,Normal Water,1,1.0,0.5,0.5,2.0,2.0,0.5,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.5,1.0
3,Normal Electric,2,1.0,1.0,1.0,0.5,1.0,1.0,2.0,1.0,2.0,0.5,1.0,1.0,1.0,0.0,1.0,1.0,0.5,1.0
4,Normal Grass,5,1.0,2.0,0.5,0.5,0.5,2.0,2.0,2.0,0.5,2.0,1.0,2.0,1.0,0.0,1.0,1.0,1.0,1.0

In [114]:
data['power1'] = data['power'].apply(lambda x: x.split(" ")[0])
data['power2'] = data['power'].apply(lambda x: x.split(" ")[1])

In [115]:
data.head()

,power,PKMN,Nor,Fir,Wat,Ele,Gra,Ice,Fig,Poi,...,Psy,Bug,Roc,Gho,Dra,Dar,Ste,Fai,power1,power2
0,Normal —,82,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,Normal,—
1,Normal Fire,2,1.0,0.5,2.0,1.0,0.5,0.5,2.0,1.0,...,1.0,0.5,2.0,0.0,1.0,1.0,0.5,0.5,Normal,Fire
2,Normal Water,1,1.0,0.5,0.5,2.0,2.0,0.5,2.0,1.0,...,1.0,1.0,1.0,0.0,1.0,1.0,0.5,1.0,Normal,Water
3,Normal Electric,2,1.0,1.0,1.0,0.5,1.0,1.0,2.0,1.0,...,1.0,1.0,1.0,0.0,1.0,1.0,0.5,1.0,Normal,Electric
4,Normal Grass,5,1.0,2.0,0.5,0.5,0.5,2.0,2.0,2.0,...,1.0,2.0,1.0,0.0,1.0,1.0,1.0,1.0,Normal,Grass

In [116]:
data = data.drop(['power','PKMN'], axis=1)
data.head()

,Nor,Fir,Wat,Ele,Gra,Ice,Fig,Poi,Gro,Fly,Psy,Bug,Roc,Gho,Dra,Dar,Ste,Fai,power1,power2
0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,Normal,—
1,1.0,0.5,2.0,1.0,0.5,0.5,2.0,1.0,2.0,1.0,1.0,0.5,2.0,0.0,1.0,1.0,0.5,0.5,Normal,Fire
2,1.0,0.5,0.5,2.0,2.0,0.5,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.5,1.0,Normal,Water
3,1.0,1.0,1.0,0.5,1.0,1.0,2.0,1.0,2.0,0.5,1.0,1.0,1.0,0.0,1.0,1.0,0.5,1.0,Normal,Electric
4,1.0,2.0,0.5,0.5,0.5,2.0,2.0,2.0,0.5,2.0,1.0,2.0,1.0,0.0,1.0,1.0,1.0,1.0,Normal,Grass

In [121]:
data_dict = data.to_dict(orient="records")
data_dict[0]

{'Nor': 1.0,
 'Fir': 1.0,
 'Wat': 1.0,
 'Ele': 1.0,
 'Gra': 1.0,
 'Ice': 1.0,
 'Fig': 2.0,
 'Poi': 1.0,
 'Gro': 1.0,
 'Fly': 1.0,
 'Psy': 1.0,
 'Bug': 1.0,
 'Roc': 1.0,
 'Gho': 0.0,
 'Dra': 1.0,
 'Dar': 1.0,
 'Ste': 1.0,
 'Fai': 1.0,
 'power1': 'Normal',
 'power2': '—'}

In [122]:
formatted_data = {}
for i in data_dict:
    p1, p2 = i.pop('power1'), i.pop('power2')
    p1 = p1 if p1 != "—" else "None"
    p2 = p2 if p2 != "—" else "None"

    if p1 not in formatted_data:
        formatted_data[p1] = {p2: {}}
    formatted_data[p1][p2] = i

In [123]:
with open("cleaned_data.json", "w") as f:
    json.dump(formatted_data, f, indent= 4)